:root {
  --light-brown: #ddd294;
  --brown: #956a57;
  --dark-green: #668149;
  --green: #8aa866;
  --lighter-green: #bccd86;
  --light-green: #dbeabf;
  --dark-blue: #1f263f;
  --gray: #c8c3c0;
  --light-gray: #eeeeee;
  --middle-gray: hsl(0, 0%, 53%);
  --ugly-nav-bg: linear-gradient(to right bottom, var(--green), var(--white));
  --line-color: rgb(169, 169, 169);
    
    
  --white: #ffffff;
  --black: #32373c;
    
  --background-reg: var(--white);    
  --background-nav: var(--light-gray);
  --searchbar: #d3d3d3;
  --searchbar-secondary: var(--green);
  --card: var(--white);
  --shadow: var(--searchbar);
  --headline:var(--text-primary-color);
  --nav-headline: var(--white);
  --text-primary-color: var(--middle-gray);
  --text-secondary-color: var(--green);
  --button-primary-color: var(--white);
  --button-secondary-color:  var(--gray);
  --primary-font: Roboto;
  --background-footer: #F8F8F8;
  --product-background: #f3f3f3;
    
 /*----- values vars -----*/
    
  --navigation-spacer-content: 250px;
  --navigation-spacer-menu: -250px;

  --mobile-size: 400px;
    
    
  text-decoration: none;
  list-style:none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body.disabled {
    overflow: hidden;
}

body.enabled {
    overflow: auto !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.icon {
    color: var(--headline);
    display: flex;
    height: 100%;
    align-items: center;
}

.icon.main {
    color: var(--text-secondary-color);
}
/* .icon:hover {
    color: var(--text-secondary-color);
    cursor:pointer;
} */

.menu-size {
    color: var(--text-primary-color);
    font-size: 24px;
    margin-bottom: -8px;
}

.s {
    font-size: 20px;
}

.m {
    font-size: 30px;
}

.l {
    font-size: 45px;
}

.xl {
    font-size: 70px;
    font-weight: 600;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 600;
}

h2, b, strong {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: var(--headline);
    line-height: 50px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    letter-spacing: normal;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
}

a,
p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

p {
    line-height: 25px;
}

a.center-logo {
    color: transparent;
    
    img.main-logo {
        height: 75px;
        width: auto;
    }
}



.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  

.wrapper {
    display:flex;
    flex-direction: column;
    min-width: 100%;
    overflow: hidden;
}

button, 
button:hover,
button:focus{
    color: none;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    
}

button.icon-only {
    border:none;

}

button:hover{
    cursor: pointer;
}

.master-slider-parent {
    position: inherit !important;
    margin-top: 95px;
}

select {
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--black);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.main-button,
.main-button:active,
.main-button:visited {
    height: 40px;
    min-width: 120px;
    position: absolute;
    bottom: 5%;
    border: 1px solid var(--text-secondary-color);
    color: var(--text-secondary-color);
    border-radius: 20px;

  
}
.main-button:hover {
    box-shadow: 0 0 9px 0px var(--text-secondary-color);
}

.row.spacer {
    padding: 15px 0px;
}

.row.padding-top {
    padding-top: 50px;
}

.row.padding-bottom {
    padding-bottom: 30px;
}

.row.footer {
    background-color: var(--background-footer);
}

.row.white {
    background-color: var(--white);
}

.dialog-overlay.disabled {
    display: none !important;
}
.dialog-overlay {
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 1000;
    position: fixed;
    background-color: var(--background-footer);
    overflow: hidden;
    justify-content: center;

    .dialog {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        
        @media only screen and (max-width: 400px) {
            padding: 50px 25px;
        }
       
        @media only screen and (min-width: 401px) {
            padding: 50px;
        }

        @media only screen and (min-width: 800px) {
            padding: 50px 150px;
        }
        
        @media only screen and (min-width: 1201px) {
            padding: 50px 300px;
        }
    
    .card {
        overflow: hidden;
        scroll-behavior: smooth;
        overflow-y: auto;
        
        .text-container {
            padding: 20px 20px 0px 20px;
            text-align: center;
            
            h3 {
                font-size: 24px;
                font-weight: 500;
                color: var(--headline);
            }
    
            p {
                color: var(--middle-gray);
            }
    
        }
    
        .text-container.footer {
            padding: 10px 15px 10px 15px;
            border-top: 1px solid var(--searchbar);
            p.date {
                color: var(--middle-gray);
                font-size: 12px;
                font-weight: 500;
                margin-bottom: 0;
            }
        }
    }
    
    }

}