/*.blog-post {
    border-radius: 20px;
    background-color: white;
    -webkit-box-shadow: 0px 9px 27px -3px var(--text-primary-color);
-moz-box-shadow: 0px 9px 27px -3px var(--text-primary-color);
box-shadow: 0px 9px 27px -3px var(--text-primary-color);
    height: 100%;
    max-width: 800px;
    margin: 10px 0px 40px 0px;

}

.blog-post .headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    height: 100%;
    background-color: var(--searchbar);
}

.blog-post .headline h2.date {
    color: white;
    font-style: oblique;
    font-weight: 100;
}

.blog-post .headline h2.headline-text {
    color: white;
    padding-bottom: 5px;

    /*border-bottom: 0.5px solid var(--searchbar);*/
/*
}


.blog-post .frame {
    margin-top: 20px;
    display: flex; 
    max-width: 100%;
    max-height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    
}

.blog-post .frame .headline {
    position: absolute;
}

.blog-post .frame .thumbnail-container {
    max-width: 400px;
    height: 400px;

}

.blog-post .frame .thumbnail-container img {
    object-fit: contain;;
}

.blog-post .frame .post-text {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 50px;
} */