.index {
    padding: 0px 40px 0px 40px;
    background-color: var(--background-reg);

    .row {
        .welcome {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: var(--text-secondary-color);

            img {
                svg {
                    fill: var(--text-secondary-color);
                }
            }

            #index-button {
                height: 40px;
                width: 120px;
                position: absolute;
                bottom: 5%;
                border: 1px solid var(--text-secondary-color);
                color: var(--text-secondary-color);
                border-radius: 20px;

              
            }
            #index-button:hover {
                box-shadow: 0 0 9px 0px var(--text-secondary-color);
            }

            h2, h3 {
                text-align: center;
                color: var(--text-secondary-color);
            }
        }

        h2 {
            margin-bottom: 20px;
            font-size: 50px;
            text-transform: none;
        }

        p {
            font-size: 20px;
            color: #212529;
        }

        ul {
          margin: 0;
          padding: 0;
          list-style:none;
          text-decoration: none;  
        }
    }
}