/* Product css */
.product-container {
    display: none;
    padding: 0px;
    
    img {
        max-width: 100%;    
        height: auto;
    }
    
    a,
    a:hover{
        color: var(--black);
        text-decoration: none;
    }
    
    .outer-product-border {
        padding: 5px;
        width: 100%;
        height: 100%;
        
        .inner-product-border {
            border: 0.5px solid var(--searchbar);
            width: 100%;
            height: 100%;
            padding: 5px;

            .text {
                padding: 10px 0px;
                margin: 0px 10px ;
                border-top: 0.5px solid var(--searchbar);
                h3 {
                    font-weight: 600;
                    color: var(--black);
                }
                @media only screen and (max-width: 400px) {
                    h3 {
                        font-size: 14px !important;
                    }
                }
        
            }
        }

        .inner-product-border:hover {
            box-shadow: 0px 0px 10px var(--text-primary-color);
        }
    }

}

.filter-taxonomies {
    display: none;
}

.filter-taxonomies.active {
    display: block;
    margin: 5px 5px;
}


.product-container.active {
    display: block;
}

p.price-tag {
    font-size: 11px;
    font-weight: 400;
    margin-top: -5px;
    margin-bottom: 0px;
    color: var(--black);
    
    .stroke {
        text-decoration: line-through;
    }

    .offer {
        color: red;
    }

}

.product-single {

            padding: 95px 40px 0px 40px;
            
 /**
             * (optional) define here the style definitions which should be applied on the slider container
             * e.g. width including further controls like arrows etc.
             */
             .row {
             /*    .slider_container {
                    margin-bottom: 15px !important;
                } */

                .product-card {
                    box-shadow: 0px 0px 5px var(--searchbar);
                    background-color: var(--card);

                    .product-information {
                        border-top: 0.5px solid var(--searchbar);
                        display: flex;
                        flex-direction: column;
                        margin: 15px;

                        .main-button {
                            bottom: none;
                            position: relative;
                            margin-bottom: 15px;
                            align-self: center;
                        }


                        h3.single-product-title {
                            text-align: center;
                            font-size: 20px;
                            color: var(--text-secondary-color);
                            margin-top: 15px;
                        }

                        .product-details {
                            ul {
                                text-align: center;
                                padding: 0;
                                list-style: none;
                                margin-bottom: 15px;
                                li:first-child {
                                    padding-top: 10px;
                                }
                                
                                li {
                                    font-size: 14px;
                                    padding: 10px 0px;
                                    border-bottom: 1px solid var(--searchbar);
                                }
                            }
                        }
                    }
                }
             }

             .frame {
                 /**
                  * (optional) wrapper width, specifies width of the slider frame.
                  */
                 position: relative;
                 font-size: 0;
                 line-height: 0;
                 overflow: hidden;
                 white-space: nowrap;
             }
 
             ul.slides {
                display: inline-block;
                margin:0;
                padding: 0;  
                 
                 li {
                     margin:0;
                     padding: 0;
                     position: relative;
                     display: inline-block;
                     min-width: 100%;
                     /**
                     * (optional) if the content inside the slide element has a defined size.
                     */
                     img {
                         width: 100%;
                         height: auto;
                        }
                    }
                }
 
             .prev, .next {
                 position: absolute;
                 top: 50%;
                 margin-top: -25px;
                 display: block;
                 cursor: pointer;
             }
 
             .next {
                 right: 0;
             }
 
             .prev {
                 left: 0;
             }
 
             .next svg, .prev svg {
                 width: 25px;
             }
             
            p.price-tag {
                font-size: 15px;
                font-weight: 500;
                margin-top: -5px;
                color: var(--black);

                .stroke {
                    text-decoration: line-through;
                }

                .offer {
                    color: red;
                }
            }

            .product-information {
                 ul {
                     padding: 0px 0px 0px 20px;
                     margin: 0;
                 }

                 .product-description {
                     padding: 20px 0px 20px 0px;
                     margin-top: 20px;
                     border-top: 0.5px solid var(--searchbar);
                 }
             }

             .taxonomy {
                 margin-top:30px;

                 ul {
                     margin: 0;
                     padding: 0;
                     li:first-child {
                        color: var(--black);
                     }
                     li {
                         font-size: 14px;
                         color: var(--text-secondary-color);
                         display: inline-block;
                         list-style-type: none;
                         text-decoration: none;
                         font-weight: 400;

                         &:last-child {
                             padding-right: 0;
                         }
                     }

                 }
             }



}

.product-single.dark {
    background-color: var(--product-background);
}
