.product-single {

            padding: 115px 40px 0px 40px;
            background-color: var(--background-reg);
 /**
             * (optional) define here the style definitions which should be applied on the slider container
             * e.g. width including further controls like arrows etc.
             */
             .slider {}

             .frame {
                 /**
                  * (optional) wrapper width, specifies width of the slider frame.
                  */
                 position: relative;
                 font-size: 0;
                 line-height: 0;
                 overflow: hidden;
                 white-space: nowrap;
             }
 
             ul.slides {
                display: inline-block;
                margin:0;
                padding: 0;  
                 
                 li {
                     margin:0;
                     padding: 0;
                     position: relative;
                     display: inline-block;
                     min-width: 100%;
                     /**
                     * (optional) if the content inside the slide element has a defined size.
                     */
                     img {
                         width: 100%;
                         height: auto;
                        }
                    }
                }
 
             .prev, .next {
                 position: absolute;
                 top: 50%;
                 margin-top: -25px;
                 display: block;
                 cursor: pointer;
             }
 
             .next {
                 right: 0;
             }
 
             .prev {
                 left: 0;
             }
 
             .next svg, .prev svg {
                 width: 25px;
             }
             
             h3.single-product-title {
                 font-size: 45px;
             }

             p.price-tag {
                 font-size: 15px;
             }

             .product-information {
                 ul {
                     padding: 0px 0px 0px 20px;
                     margin: 0;
                 }

                 p.product-description {
                     background-color: var(--background-footer);
                     padding: 20px 20px 20px 20px;
                     margin: 20px -20px 20px -20px;
                     box-shadow: 0px 0px 20px 0px lightgrey;
                 }
             }

             .taxonomy {
                 ul {
                     margin: 0;
                     padding: 0;
                     li {
                         padding-right: 10px;
                         color: var(--text-secondary-color);
                         display: inline-block;
                         list-style-type: none;
                         text-decoration: none;
                         font-weight: 400;

                         &:last-child {
                             padding-right: 0;
                         }
                     }

                 }
             }



}

